:root {
	--rhythm: 1.45rem;
}

.posts {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.post {
	position: relative;
	bottom: 0;
	width: 100%;
	margin-bottom: 32px;
	border-radius: 4px;
	box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
	background-color: #313845;
	color: rgba(255, 255, 255, 0.87);
	transition: bottom 0.2s linear;
}
.post:hover {
	bottom: 4px;
}

.imageContainer {
	position: relative;
	width: 100%;
	border-radius: 4px 4px 0 0;
}

.postBody {
	padding: 24px;
}

.title {
	margin: 0 0 8px;
}

.date {
	font-size: 0.9em;
	color: orange;
	margin-bottom: 16px;
}

.tags {
	font-size: 0.8em;
}

@media only screen and (min-width: 768px) {
	.post {
		width: calc(50% - 16px);
	}
	/* Disable bottom background for the last 2 posts */
	.post:nth-last-of-type(-n + 2) {
		margin-bottom: 0;
	}
}
