html {
	/* Remove scrollbar made by TypographyJS */
	overflow-y: auto;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
a {
	color: rgba(255, 255, 255, 0.87);
	text-shadow: none;
	background-image: none;
}

h1 {
	margin-bottom: 36px;
}

a {
	color: orange;
}

p {
	text-align: left;
}

input {
	color: #fff;
	background-color: #313845;
	border: none;
	padding: 8px 16px;
	width: 95%;
	max-width: 320px;
	border-radius: 4px;
	margin: 0 8px 8px 0;
	outline: none;
}

button {
	padding: 8px 16px;
	color: #fff;
	background-color: hsl(207, 59%, 53%);
	border: none;
	outline: none;
	border-radius: 4px;
	cursor: pointer;
	margin: 0 8px 8px 0;
}
button:active {
	background-color: hsl(207, 59%, 40%);
}

.root {
	display: flex;
	flex-wrap: nowrap;
	background-color: #141820;
	color: rgba(255, 255, 255, 0.87);
	min-height: 100vh;
}

.content {
	width: calc(100% - 40px);
	margin: 64px auto;
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.main {
	width: 100%;
}

@media only screen and (min-width: 768px) {
	.content {
		width: calc(95% - 80px);
		text-align: left;
	}
}
